.animate-loop {
  animation: softFloat 3s ease-in-out infinite;
}

.animate-slide-in-left {
  animation: slide-in-left 0.35s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.animate-slide-left {
  animation: slide-out-left 0.35s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-out forwards;
}

.animate-pop {
  animation: pop-in 0.7s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes softFloat {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-3px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.6);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.shimmer-image {
  position: relative;
  overflow: hidden;
  /* غیرفعال کردن anti-aliasing اضافی */
  -webkit-font-smoothing: antialiased;
}

.shimmer-image img {
  /* جلوگیری از رندر مجدد تصویر */
  image-rendering: auto;
}

.shimmer-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    110deg,
    transparent 30%,
    rgba(255, 255, 255, 0.7) 50%,
    transparent 70%
  );
  /* کلیدهای رفع لگ */
  transform: translateX(-100%) translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  pointer-events: none; /* مهم: جلوگیری از تداخل با کلیک‌ها */
  animation: smoothShine 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes smoothShine {
  0% {
    transform: translateX(-100%) translateZ(0);
  }
  100% {
    transform: translateX(100%) translateZ(0);
  }
}
