@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";
@import "./variables.css";
@import "./animation.css";
@import "./scrollbar.css";
@import "./typography.css";
@import "./package.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-iranyekan), Tahoma, sans-serif;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
    font-variant-numeric: lining-nums;
  }

  input,
  textarea {
    font-family: var(--font-iranyekan), Tahoma, sans-serif;
    font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .content-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadow-around {
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.06),
      0 4px 12px rgba(0, 0, 0, 0.08);
  }

  .container-home {
    @apply w-full max-w-[1336px] mx-auto;
  }

  .grid-divider {
    --divider: theme("colors.gray.200");
    gap: 1px;
    background: var(--divider);
  }

  .grid-divider > * {
    background: white;
  }

  .container {
    @apply mx-auto;
  }

  .input {
    @apply flex h-11 w-full rounded-lg focus:border-success focus-within:border-success bg-background px-3 text-sm text-foreground shadow-xs transition-colors
         placeholder:text-gray-400
         disabled:cursor-not-allowed disabled:opacity-50;
  }

  .pause-on-hover:hover * {
    animation-play-state: paused !important;
  }

  .tabs-indicator {
    position: absolute;
    block-size: 2px; /* height منطقی */
    inline-size: var(--w, 0px); /* width منطقی */
    inset-block-end: 0; /* bottom: 0 منطقی */
    inset-inline-start: var(--x, 0px); /* left/right منطقی بسته به RTL/LTR */
    background: var(--color-primary);
    transition:
      inline-size 300ms ease,
      inset-inline-start 300ms ease;
  }
}
