/* Scrollbar Global Styles */
::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/*  */
.scrollbar-custom::-webkit-scrollbar {
  width: 4.5px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
